<%= form_for([@year, @month], :html => {:multipart => true}) do |f| %>
  <% if @month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bulan %><br>
    <%= f.select :bulan, ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November','Desember'], {}, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>
