<p id="notice"><%= notice %></p>

<h1>Listing Months</h1>

<table>
  <thead>
    <tr>
      <th>Bulan</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= link_to month.bulan, month %></td>
        <td><%= month.year_id %></td>
        <% if signed_in? %>
        <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_month_path(month) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, month, method: :delete, data: { confirm: 'Anda Yakin Hapus?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Month', new_month_path %>
