<p id="notice"><%= notice %></p>

<p>
  <strong>Bulan:</strong>
  <%= @month.bulan %>
</p>

<p>
  <strong>Year:</strong>
  <%= @month.year_id %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
