<% content_for :home do %>
   <%= render 'shared/indexnavigation' %>
<% end %>

<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-6">
    <h3 class="lead">Edit <%= resource_name.to_s.humanize %></h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <%= form_for(resource, as:resource_name, url: registration_path(resource_name), :html => { class:"form-horizontal", role:"form", method: :put}) do |f| %>
        <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name, "Nama", for: "inputText3", class:" col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 control-label weight" %>
        <div class=" col-xs-8 col-sm-6 col-md-4">
          <%= f.text_field :name, class: "form-control weight", id:"inputText3" %>
        </div>
      </div>
        
      <div class="form-group">
        <%= f.label :email, "Email", for: "inputText3", class:" col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 control-label weight" %>
        <div class=" col-xs-8 col-sm-6 col-md-4">
          <%= f.text_field :email, class: "form-control weight", id:"inputText3" %>
        </div>
      </div>
   
      <div class="form-group">
        <%= f.label :password, "Password", for: "inputText3", class:"col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 col-md-3 control-label weight "   %>
        <div class="col-xs-8 col-sm-6 col-md-4">
          <%= f.password_field :password, autocomplete: 'off', class: "form-control weight", id:"inputPassword3"%>
        </div>
        <div class="col-xs-offset-3 col-xs-8 col-sm-offset-4 col-sm-6 col-md-4">
          <p><i>Biarkan Kosong Jika TIdak Ingin Diganti</i></p>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, "Konfirmasi Password", for: "inputText3", class:"col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 col-md-3 control-label weight "   %>
        <div class="col-xs-8 col-sm-6 col-md-4">
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: "form-control weight", id:"inputPassword3"%>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :current_password, "Password Sekarang", for: "inputText3", class:"col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 col-md-3 control-label weight "   %>
        <div class="col-xs-8 col-sm-6 col-md-4">
          <%= f.password_field :current_password, autocomplete: 'off', class: "form-control weight", id:"inputPassword3"%>
        </div>
      </div>
      
      <%if devise_mapping.rememberable? -%>
        <div class="form-group"> 
          <div class="col-xs-offset-3 col-sm-offset-4 col-sm-3 col-md-3">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        </div>
      <%end %>
      
      <div class="form-group">
        <div class="col-xs-offset-3 col-sm-offset-4 col-sm-3 col-md-3">
          <%= f.submit "Update", class: "btn btn-success" %>
        </div>
      </div>
     
    <% end %>  
  </div>
  
  <!-- <h3 class="lead">Hapus Akun Saya</h3> -->
  <!-- <hr> -->
  <!-- <p>Tidak Senang? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-6">
      <%= link_to "Beranda", :back %>
  </div>
</div>




