<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.select :amount, ['Rp. 50.000', 'Rp. 100.000', 'Rp. 150.000', 'Rp. 200.000'], {}, class: "form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :donatur_id %><br>
   <%= f.collection_select(:donatur_id, Donatur.all, :id, :name, class: "form-control input-sm" ) %> 
  </div>
  
  <div class="form-group">
    <%= f.label :year_id %><br>
    <%= f.collection_select(:year_id, Year.all, :id, :tahun, { include_blank: true, class: "form-control input-sm" }) %> 

  </div>
  
  <div class="form-group">
    <%= f.label :month_id %><br>
    <%= f.collection_select(:month_id, Month.all, :id, :bulan, { include_blank: true, class: "form-control input-sm" }) %> 
  
  </div>
  
  <div class="form-group">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
