<%= form_for(@recipient_card) do |f| %>
  <% if @recipient_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient_card.errors.count, "error") %> prohibited this recipient_card from being saved:</h2>

      <ul>
      <% @recipient_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :month, "Bulan", for: "inputText3", class:"col-sm-3 col-md-3 control-label weight" %>
    <div class="col-sm-8 col-md-4">
      <%= f.select :month, ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November','Desember'],{prompt:"input bulan"},class: "form-control weight", id:"inputText3" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :amount, "Jumlah", for: "inputText3", class:"col-sm-3 col-md-3 control-label weight"  %>
    <div class="col-sm-8 col-md-4">
      <%= f.text_field :amount, class: "form-control weight", id:"inputText3", placeholder:"input jumlah" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :amount, "Jumlah", for: "inputText3", class:"col-sm-3 col-md-3 control-label weight"  %>
    <div class="col-sm-8 col-md-4">
      <%= f.text_field :amount, class: "form-control weight", id:"inputText3", placeholder:"input jumlah" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :employee, "Petugas", for: "inputText3", class:"col-sm-3 col-md-3 control-label weight"  %>
    <div class="col-sm-8 col-md-4">
      <%= f.text_field :employee, class: "form-control weight", id:"inputText3", placeholder:"input petugas" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-3 col-md-offset-3">
       <%= action_name == "new" ? (f.submit "Buat Bukti Santunan", class:"btn btn-success"):(f.submit "Edit Bukti Santunan", class:"btn btn-success") %>
    </div>
  </div>
  
 
<% end %>
