<div class="container-fluid" id="recipients">
  <div class="row">
    <div class="col-md-12">
      <% unless @recipients.blank? %>
      <h4>Penerima Santunan Bulanan</h4>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Tempat, Tanggal Lahir</th>
            <th class="hidden-xs hidden-sm">Alamat</th>
            <th>Pekerjaan</th>
            <% if signed_in? %>
            <th colspan="2"></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @recipients.each do |recipient| %>
            <tr>
              <td><%= link_to recipient.name, recipient %></td>
              <td><%= recipient.lahir %></td>
              <td class="hidden-xs hidden-sm"><%= recipient.alamat_lengkap %></td>
              <td><%= recipient.job %></td>
              <% if signed_in? %>
              <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_recipient_path(recipient) %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, recipient, method: :delete, data: { confirm: 'Anda Yakin Hapus?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="col-md-12 col-sm-12 col-xs-12"><h1 class="center">Maaf Belum Ada Data Yang Bisa Diperlihatkan</h1></div>
      <% end %>

      <br>
      <%# if signed_in? %>
      <%= link_to 'Tambah Santunan', new_recipient_path %>
      <%# end %>
      
    </div>
  </div>
</div>

