<div class="container">
  <div class="row">
    <h3>Penerima Santunan Bulanan</h3>

    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nik</th>
          <th>Born place</th>
          <th>Born date</th>
          <th>Gender</th>
          <th>Blood type</th>
          <th>Address</th>
          <th>Rukun tetangga</th>
          <th>Rukun warga</th>
          <th>Kelurahan</th>
          <th>Kecamatan</th>
          <th>City</th>
          <th>Religion</th>
          <th>Marital status</th>
          <th>Job</th>
          <th>Nationality</th>
          <th>Pos code</th>
          <th>Province</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipients.each do |recipient| %>
          <tr>
            <td><%= recipient.name %></td>
            <td><%= recipient.nik %></td>
            <td><%= recipient.born_place %></td>
            <td><%= recipient.born_date %></td>
            <td><%= recipient.gender %></td>
            <td><%= recipient.blood_type %></td>
            <td><%= recipient.address %></td>
            <td><%= recipient.rukun_tetangga %></td>
            <td><%= recipient.rukun_warga %></td>
            <td><%= recipient.kelurahan %></td>
            <td><%= recipient.kecamatan %></td>
            <td><%= recipient.city %></td>
            <td><%= recipient.religion %></td>
            <td><%= recipient.marital_status %></td>
            <td><%= recipient.job %></td>
            <td><%= recipient.nationality %></td>
            <td><%= recipient.pos_code %></td>
            <td><%= recipient.province %></td>
            <td><%= link_to 'Show', recipient %></td>
            <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
            <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Recipient', new_recipient_path %>
    
  </div>
</div>

