<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @recipient.nik %>
</p>

<p>
  <strong>Born place:</strong>
  <%= @recipient.born_place %>
</p>

<p>
  <strong>Born date:</strong>
  <%= @recipient.born_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @recipient.gender %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @recipient.blood_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<p>
  <strong>Rukun tetangga:</strong>
  <%= @recipient.rukun_tetangga %>
</p>

<p>
  <strong>Rukun warga:</strong>
  <%= @recipient.rukun_warga %>
</p>

<p>
  <strong>Kelurahan:</strong>
  <%= @recipient.kelurahan %>
</p>

<p>
  <strong>Kecamatan:</strong>
  <%= @recipient.kecamatan %>
</p>

<p>
  <strong>City:</strong>
  <%= @recipient.city %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @recipient.religion %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @recipient.marital_status %>
</p>

<p>
  <strong>Job:</strong>
  <%= @recipient.job %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @recipient.nationality %>
</p>

<p>
  <strong>Pos code:</strong>
  <%= @recipient.pos_code %>
</p>

<p>
  <strong>Province:</strong>
  <%= @recipient.province %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
