<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
  
    <!-- Table -->
    <table class="table">
    
      <tbody>  
          
          <tr>
            <td>Nama</td>
            <td><%= @recipient.name %></td>
          </tr>
          
          <tr>
            <td>Nomor Kartu Tanda Penduduk</td>
            <td><%= @recipient.nik %></td>
          </tr>
          <tr>
            <td>Tempat, Tanggal Lahir</td>
            <td><%= @recipient.lahir %></td>
          </tr>
          <tr>
            <td>Alamat Lengkap</td>
            <td><%= @recipient.alamat_lengkap %></td>
          </tr>
          <tr>
            <td>Agama</td>
            <td><%= @recipient.religion %></td>
          </tr>
          <tr>
            <td>Status Perkawinan</td>
            <td><%= @recipient.marital_status %></td>
          </tr>
          <tr>
            <td>Propinsi</td>
            <td><%= @recipient.pos_code %></td>
          </tr>
          <tr>
            <td>Propinsi</td>
            <td><%= @recipient.province %></td>
          </tr>
          <tr>
            <td>Negara</td>
            <td><%= @recipient.nationality %></td>
          </tr>
          
          
      </tbody>
    </table>
  
    <div class="panel-footer">
      <% if signed_in? %>
          <%= link_to 'Edit', edit_recipient_path(@recipient), class:"btn btn-default" %> 
      <% end %>
      <%#= link_to 'Kembali', santunan_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>


<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
  
    <!-- Table -->
    <table class="table">
      <thead>
          <tr>
            <td>No</td>
            <td>Bulan</td>
            <td>Jumlah</td>
            <td>Penerima</td>
          </tr>
      </thead>
      <tbody>  
        <% @recipient_cards.each do |recive| %>
          <tr>
            <td>No</td>
            <td><%= recive.month %></td>
            <td><%= recive.amount %></td>
            <td><%= recive.employee %></td>
          </tr> 
        <% end %>         
      </tbody>
    </table>
  
    <div class="panel-footer">
      <%# if signed_in? %>
          <%#= link_to 'Edit', edit_recipient_path(@recipient), class:"btn btn-default" %> 
      <%# end %>
      <%#= link_to 'Kembali', santunan_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>

