<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
  
    <!-- Table -->
    <table class="table">
    
      <tbody>  
          <tr>
            <td>Hari</td>
            <td><%= @recipient.hari.camelize %></td>
          </tr>
          <tr>
            <td>Waktu</td>
            <td><%= @recipient.waktu %></td>
          </tr>         
          <tr>
            <td>Mata Kuliah</td>
            <td><%= @recipient.course.name.upcase %></td>
          </tr>
          <tr>
            <td>SKS</td>
            <td><%= @recipient.course.credit %></td>
          </tr>
          <tr>
            <td>Kode</td>
            <td><%= @recipient.course.code.upcase %></td>
          </tr>
          <tr>
            <td>Kelas</td>
            <td><%= @recipient.kelas.upcase %></td>
          </tr>
          <% if @recipient.lecture_1 && @recipient.lecture_2 %>
          <tr>
            <td>Dosen</td>
            <td><%= @recipient.dosen_gabungan %></td>
          </tr>
          <% else %>
          <tr>
            <td>Dosen</td>
            <td><%= @recipient.lecture_1.name %></td>
          </tr>
          <% end %>
          <tr>
            <td>Ruangan</td>
            <td><%= @recipient.ruangan.camelize %></td>
          </tr>
      </tbody>
    </table>
  
    <div class="panel-footer">
      <% if signed_in? %>
          <%= link_to 'Edit', edit_recipient_path(@recipient), class:"btn btn-default" %> 
      <% end %>
      <%= link_to 'Kembali', santunan_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @recipient.nik %>
</p>

<p>
  <strong>Born place:</strong>
  <%= @recipient.born_place %>
</p>

<p>
  <strong>Born date:</strong>
  <%= @recipient.born_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @recipient.gender %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @recipient.blood_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<p>
  <strong>Rukun tetangga:</strong>
  <%= @recipient.rukun_tetangga %>
</p>

<p>
  <strong>Rukun warga:</strong>
  <%= @recipient.rukun_warga %>
</p>

<p>
  <strong>Kelurahan:</strong>
  <%= @recipient.kelurahan %>
</p>

<p>
  <strong>Kecamatan:</strong>
  <%= @recipient.kecamatan %>
</p>

<p>
  <strong>City:</strong>
  <%= @recipient.city %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @recipient.religion %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @recipient.marital_status %>
</p>

<p>
  <strong>Job:</strong>
  <%= @recipient.job %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @recipient.nationality %>
</p>

<p>
  <strong>Pos code:</strong>
  <%= @recipient.pos_code %>
</p>

<p>
  <strong>Province:</strong>
  <%= @recipient.province %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
