<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Tanggal</th>
            <th>Transaksi</th>
            <th>Pemasukan</th>
            <th>Pengeluaran</th>
            <th>Keterangan</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @cashflows.each do |cashflow| %>
            <tr>
              <td><%= cashflow.date %></td>
              <td><%= cashflow.name %></td>
              <td><%= cashflow.debit %></td>
              <td><%= cashflow.credit %></td>
              <td><%= cashflow.description %></td>
              <td><%= link_to 'Edit', edit_cashflow_path(cashflow) %></td>
              <td><%= link_to 'Hapus', cashflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
            <tr>
              <td></td>
              <td>Saldo Kas</td>
              <% @cashflows.each do |cashflow| %>
              <td><%= cashflow.amount %></td>
              <% end %>
            </tr>
        </tbody>
      </table>

      <br>

      <%= link_to 'Buat Transaksi', new_cashflow_path %>
    
    </div>
  </div>
</div>
