<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
  
    <!-- Table -->
    <table class="table table-hover">
    
      <tbody>  
          
          <tr>
            <td>Tanggal</td>
            <td><%= @cashflow.date %></td>
          </tr>
          
          <tr>
            <td>Kejadian</td>
            <td><%= @cashflow.name.camelize %></td>
          </tr>
          <% if @cashflow.debit %>
          <tr>
            <td>Pemasukan</td>
            <td><%= "#{number_to_currency(@cashflow.debit, precision:0, unit:"Rp ")}" %></td>
          </tr>
          <% else %>
          <tr>
            <td>Pengeluaran</td>
            <td><%= "#{number_to_currency(@cashflow.credit, precision:0, unit:"Rp ")}" %></td>
          </tr>
          <% end %>
          <tr>
            <td>Keterangan</td>
            <td><%= @cashflow.description %></td>
          </tr>
          
      </tbody>
    </table>
  
    <div class="panel-footer">
      <% if signed_in? %>
          <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:"btn btn-default" %> 
      <% end %>
      <%= link_to 'Kembali', cashflows_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
