
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-6">
    <h3 class="lead">Login</h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <%= form_for(resource, as:resource_name, url: session_path(resource_name), :html => { class:"form-horizontal", role:"form"}) do |f| %>
        <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email, for: "inputText3", class:" col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 control-label weight" %>
        <div class=" col-xs-8 col-sm-6 col-md-4">
          <%= f.text_field :email, class: "form-control weight", id:"inputText3" %>
        </div>
      </div>
  
  
      <div class="form-group">
        <%= f.label :password, for: "inputText3", class:"col-xs-offset-1 col-xs-2 col-sm-3 col-md-3 col-md-3 control-label weight "   %>
        <div class="col-xs-8 col-sm-6 col-md-4">
          <%= f.password_field :password, autocomplete: 'off', class: "form-control weight", id:"inputPassword3"%>
        </div>
      </div>
      
      <%if devise_mapping.rememberable? -%>
        <div class="form-group"> 
          <div class="col-xs-offset-3 col-sm-offset-4 col-sm-3 col-md-3">
            <%= f.check_box :remember_me, class: " control-label weight "%>
            <%= f.label :remember_me, "Ingat Saya", class:"form-control-weight" %>    
          </div>
        </div>
      <%end %>
      
      
  
      <div class="form-group">
        <div class="col-xs-offset-3 col-sm-offset-4 col-sm-3 col-md-3">
          <%= f.submit "Login", class: "btn btn-success" %>
        </div>
      </div>
      
      <!-- <div class="form-group">
        <div class="col-xs-offset-3 col-sm-offset-4 col-sm-3 col-md-3 ">
          <%#= render "devise/shared/links" %>
        </div>
      </div> -->
      
      
    <% end %>  
  </div>
  
</div>


