<div class="row">
  <div class="col-sm-8 col-md-8">
  <%= form_for(@donatur, :html => { class:"form-horizontal", role:"form"}) do |f| %>
    <% if @donatur.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@donatur.errors.count, "error") %> prohibited this donatur from being saved:</h2>

        <ul>
        <% @donatur.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Nama", for: "inputText3", class:"col-sm-3 col-md-3 control-label weight" %><br>
      <div class="col-sm-8 col-md-4"><%= f.text_field :name, class:"form-control weight", id:"inputText3", placeholder:"input nama" %></div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-3 col-md-offset-3">
         <%= action_name == "new" ? (f.submit "Buat Tabel", class:"btn btn-success"):(f.submit "Edit Tabel", class:"btn btn-success") %>
      </div>
    </div>
  <% end %>
  </div>
</div>
