<p id="notice"><%= notice %></p>

<h1>Listing Donaturs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donaturs.each do |donatur| %>
      <tr>
        <td><%= donatur.name %></td>
        <td><%= link_to 'Show', donatur %></td>
        <td><%= link_to 'Edit', edit_donatur_path(donatur) %></td>
        <td><%= link_to 'Destroy', donatur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donatur', new_donatur_path %>
