<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Y A K I N</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Beranda', root_url %></li>
        <li class="dropdown">
          <a href="#" class="hidden-sm dropdown-toggle" data-toggle="dropdown">Donatur<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'Daftar Donatur', donaturs_path %></li>
              <li> <%= link_to 'Tabel Donatur', tabel_path %></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="hidden-sm dropdown-toggle" data-toggle="dropdown">Santunan<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'Daftar Santunan', recipients_path %></li>
              <li> <%= link_to 'Tabel Santunan', "#" %></li>
            </ul>
        </li>
        <%# if user_signed_in? %>
        <li><%= link_to 'Kas', cashflows_path %></li>
        <%# end %>
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="visible-sm dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
              <a href="#" class="hidden-sm dropdown-toggle" data-toggle="dropdown"><%#= current_user.email %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li> <%= link_to 'Edit Akun', edit_user_registration_path %></li>
                  <li> <%#= link_to 'Percakapan', conversations_path %></li>
                  <li><%#= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown">Role <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%# User::ROLES.each do |k, v| %>
                  <li>
                    <%#= link_to session_path(k), method: :patch do %>
                      <%#= v %>
                      <%# if v == current_user.role %>
                          <small class="text-muted">(current)</small>
                      <%# end %>
                    <%# end %>
                  </li>
                <%# end %>
              </ul>
            </li> -->
            <% if can? :create, Project %>
            <li><%= link_to "Add Project", new_project_path %></li>
            <% end %>
        <% else %>
            <li >
                <%= link_to 'Login', new_user_session_path, title: "Login", data: {tooltip: true} %>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>